<%- include("../partials/header"); -%>

<section class="form-simple container col-lg-5 col-xl-4">
    <!--Form with header-->
    <div class="card">
        <!--Header-->
        <div class="header pt-3 indigo accent-2">
            <div class="row d-flex justify-content-start">
                <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5 text-white">
					Edit: <em><%= accommodation.name %></em>
                </h3>
            </div>
        </div>
        <!--Header-->

        <div class="card-body mx-4 mt-4">
            <!-- BODY -->
            <form action="/accommodations/<%= accommodation._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="accommodation[name]" value="<%= accommodation.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="accommodation[image]" value="<%= accommodation.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="accommodation[description]" value="<%= accommodation.description %>" placeholder="Description">
                </div>
				<div class="form-group">
                    <input class="form-control" type="number" min="0.01" step="0.01" name="accommodation[price]" value="<%= accommodation.price %>" placeholder="Price per Night in MYR" required>
                </div>
				<div class="form-group">
    				<input class="form-control" type="text" name="location" id="location" value="<%= accommodation.location %>" placeholder="Location">
				</div>
                <div class="form-group">
                    <button class="btn btn-lg blue-gradient btn-block">Update</button>
                </div>
            </form>
			<a href="/accommodations/<%= accommodation._id %>" class="btn btn-link p-0"><i class="fas fa-arrow-left"></i> Back</a>
        </div>
    </div>
    <!--/Form with header-->
</section>

<%- include("../partials/footer"); -%>