<%- include("../partials/header"); -%>


	<div id="main_content" class="container">
     <header class="jumbotron">
         <div class="container">
             <h1><strong>Welcome To Travelinn</strong></h1>
             <p>View our hand-picked accommodations from all over the world</p>
             <p>
                <a class="btn btn-dark btn-large" href="/accommodations/new">Add New Accommodation</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% accommodations.forEach(function(accommodation){ %>
            <div class="col-md-3 col-sm-6">
                <div class="card bg-light mb-3">
                   <img src="<%= accommodation.image %>">
                   <div class="caption">
                       <h4><%= accommodation.name %></h4>
					   <% if (accommodation.rating === 0) { %>
						<small class="text-muted"><em>No reviews yet.</em></small>
						<% } else { %>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star <% if (accommodation.rating > 1.5) { %> checked <% } %>"></span>
							<span class="fa fa-star <% if (accommodation.rating > 2.5) { %> checked <% } %>"></span>
							<span class="fa fa-star <% if (accommodation.rating > 3.5) { %> checked <% } %>"></span>
							<span class="fa fa-star <% if (accommodation.rating > 4.5) { %> checked <% } %>"></span>
						<% } %>
                   </div>
					<p>
                       <a href="/accommodations/<%= accommodation._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include("../partials/footer"); -%>