<%- include("../partials/header"); -%>


	<div id="main_content" class="container">
     <header class="jumbotron">
         <div class="container">
             <h1 class="jombotronText"><strong>Welcome To Travelinn</strong></h1>
             <p class="jombotronText">From mountain cabins to lakeside bungalows, these private homes are perfect for a drivable retreat.</p>
             <p>
                <a class="btn blue-gradient btn-large" href="/accommodations/new">Add New Accommodation</a>
             </p>
         </div>
     </header>
     
		<% if (foundResult > 0) { %>
		<div class="container">
			<h5>
				<strong><%= foundResult %></strong> result(s) matched search: "<em><%= searchKey %></em>"
			</h5>
		</div>
		<% } %>
		
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% accommodations.forEach(function(accommodation){ %>
            <div class="col-md-3 col-sm-6">
                <div class="card bg-light mb-3">
                   <img src="<%= accommodation.image %>">
                   <div class="caption">
					   <h4><strong><%= accommodation.name %></strong></h4>
					   <% if (accommodation.rating === 0) { %>
						<small class="text-muted"><em>No reviews yet.</em></small>
						<% } else { %>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star <% if (accommodation.rating > 1.5) { %> checked <% } %>"></span>
							<span class="fa fa-star <% if (accommodation.rating > 2.5) { %> checked <% } %>"></span>
							<span class="fa fa-star <% if (accommodation.rating > 3.5) { %> checked <% } %>"></span>
							<span class="fa fa-star <% if (accommodation.rating > 4.5) { %> checked <% } %>"></span>
						<% } %>
                   </div>
					<p>
                       <a href="/accommodations/<%= accommodation._id %>" class="btn btn-indigo btn-sm">More Info <i class="fas fa-angle-double-right"></i></a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% if (foundResult > 0) { %>
		<div class="container">
			<a href="accommodations" class="btn btn-blue">
				Go Back
			</a>
		</div>
		<% } %>

<button onclick="topFunction()" id="btnScrollTop" title="scrollTop" class="btn btn-sm btn-danger"><i class="fas fa-chevron-up"></i></button>

<footer class="page-footer font-small indigo pt-4">
  <!-- Footer Elements -->
	<div class="container">
		<h5>ABOUT US</h5>
		<p>
			Travelinn was created by <strong><em>See Hau Nan</em></strong>.
			<br>
			Travelinn is a FREE online peer-to-peer marketplace for people who wants to rent their house or find a place to stay while traveilling.
			<br>
			Users can share their preferred accommodations with other users in the site after they registered an account.
			<br>
			All registered users can comment, review and rate the accommodations posted by other.
		</p>
	</div>
	
	 <hr class="clearfix w-90 d-md-none pb-3">
	
	  <div class="container">
		<!-- Call to action -->
		<ul class="list-unstyled list-inline text-center py-2">
		  <li class="list-inline-item w-50">
			<input type="email" class="form-control" placeholder="Your Email Address"
			aria-label="Your Email" aria-describedby="basic-addon2">
		  </li>
		  <li class="list-inline-item">
			<a href="#" class="btn btn-outline-white btn-sm">Subscribe to our Newsletter</a>
		  </li>
		</ul>
		<!-- Call to action -->
	  </div>
	  <!-- Footer Elements -->
	  <!-- Copyright -->
	  <div class="footer-copyright text-center py-3">© 2020 Copyright:
		<a href="#"> Travelinn.com</a>
	  </div>
</footer>

<%- include("../partials/footer"); -%>