<%- include("../partials/header"); -%>

<h1><%= accommodation.name %></h1>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">
				Travelinn
			</p>
			<div class="list-group">
				<li class="list-group-item">Detail</li>
				<li class="list-group-item">Contact</li>
				<li class="list-group-item">Location</li>
			</div>
			<div id="map"></div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= accommodation.image %>">
				<div class="caption-full">
					<h4 class="float-right">
						MYR <%= accommodation.price %>/night
					</h4>
					<h4>
						<a><%= accommodation.name %></a>
					</h4>
					<p><%= accommodation.description %></p>
					<p>
						<em>Submitted by <%= accommodation.author.username %></em>
						<span class="float-right"><%= moment(accommodation.createdAt).fromNow() %></span>
					</p>
					<% if(currentUser && accommodation.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-xs btn-warning" href="/accommodations/<%= accommodation._id %>/edit">Edit</a>
					<form class="delete-form" action="/accommodations/<%= accommodation._id %>?_method=DELETE" method="POST">
						<button class="btn btn-xs btn-danger">Delete</button>
					</form>
					<% } %>
				</div>
			</div>
			
			<!-- REVIEW SECTION -->
            <div class="thumbnail">
                <div class="caption-full">
                    <% if (accommodation.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (accommodation.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (accommodation.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (accommodation.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (accommodation.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= accommodation.reviews.length %>)</em>
                    </p>
                    <p>
                        Current accommodation rating: <strong><%= accommodation.rating.toFixed(2) %></strong>
                    </p>
                    <!-- <p><h4>Latest reviews for this accommodation:</h4></p> -->
                    <hr style="margin-top: 0;">
                    <% accommodation.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning"
                               href="/accommodations/<%=accommodation._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/accommodations/<%=accommodation._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/accommodations/<%= accommodation._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary btn-lg <% if (currentUser && accommodation.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/accommodations/<%= accommodation._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>
			
			<!-- COMMENT SECTION -->
			<div class="well">
				<div class="text-right">
					<a class="btn btn-info" href="/accommodations/<%= accommodation._id %>/comments/new">New Comment</a>
				</div>
				<hr>
				<% accommodation.comments.forEach(function(comment){ %>
				<div class="row">
					<div class="col-md-12">
						<strong><%= comment.author.username %></strong>
						<span class="float-right"><%= moment(accommodation.createdAt).fromNow() %></span>
						<p>
							<%= comment.text %>
						</p>
						<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
							<a class="btn btn-xs btn-info" href="/accommodations/<%= accommodation._id %>/comments/<%= comment._id %>/edit">edit</a>
							<form class="delete-form" action="/accommodations/<%= accommodation._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<button class="btn btn-xs btn-danger">delete</button>
							</form>
						<% } %>
					</div>
				</div>
				<% }) %>
				<a href="/accommodations">Go Back</a>
			</div>
		</div>
	</div>
</div>

<script>
  function initMap() {
    var lat = <%= accommodation.lat %>;
    var lng = <%= accommodation.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById("map"), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= accommodation.name %><br />
      <%= accommodation.location %></strong>
      <p><%= accommodation.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener("click", function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlruGDXINk2aodw36mYDk2IOaYrhCUmZU&callback=initMap"></script>

<%- include("../partials/footer"); -%>
