<%- include("../partials/header"); -%>


<div class="container">
	<h1><%= accommodation.name %></h1>
	
	<div class="row">
		<div class="col-md-3">
			<!-- BOOKING FORM -->
			<div class="card-body rounded-top mdb-color mb-3">
			  <h4 class="font-weight-bold text-center text-white mt-4">Reserve Now</h4>
			  <!-- Form -->
			  <form class="pb-3 px-2" action="#">
				  <div class="md-form">
					  <i class="far fa-user prefix text-white"></i>
					  <input type="text" id="materialRegisterFormFirstName" class="form-control text-white">
					  <label class="text-white" for="materialRegisterFormFirstName">Your name</label>
				  </div>

				  <div class="md-form mt-0">
					  <i class="far fa-envelope prefix text-white"></i>
					  <input type="email" id="materialRegisterFormEmail" class="form-control text-white">
					  <label class="text-white" for="materialRegisterFormEmail">E-mail</label>
				  </div>

				  <label class="text-white">From</label>
				  <div class="md-form mt-0">
					  <i class="far fa-calendar-alt prefix text-white"></i>
					  <input type="date" id="materialRegisterFormDate" class="form-control text-white" aria-describedby="materialRegisterFormDateHelpBlock">
				  </div>
				  
				  <label class="text-white text-center">To</label>
				  <div class="md-form mt-0">
					  <i class="fas fa-calendar-alt prefix text-white"></i>
					  <input type="date" id="materialRegisterFormPassword" class="form-control text-white" aria-describedby="materialRegisterFormPasswordHelpBlock">
				  </div>
				  
				  <button class="btn danger-color-dark btn-block my-4 waves-effect z-depth-0 text-white" type="submit">Confirm</button>
			  </form>
          <!-- BOOKING FORM END -->

      		</div>
			<!-- Card -->
			  <div class="card map-card mb-4">
				<!-- GOOGLE MAP -->
				<div id="map"></div>
				<!-- Card content -->
				<div class="card-body closed px-0">
				  <div class="white px-4 pb-4 pt-3-5 text-center">
					<!-- Title -->
					<h5 class="card-title h5 living-coral-text"><%= accommodation.location %></h5>
					<div class="d-flex justify-content-center living-coral-text">
					  <button class="btn peach-gradient">
						  See Routes <i class="fas fa-map-marked-alt"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
			
	<!-- CONTACT CARD -->
	<!-- <div class="card">
		<div class="card-body">
			<h4 class="card-title">Contact:</h4>	
			<hr>
			<p class="card-text"><i class="fas fa-mobile-alt"></i> 1300-88-2525</p>
			<p class="card-text"><i class="fab fa-whatsapp"></i> 1300-88-2525</p>
		 </div>
	</div>	 -->
			
			
		<!-- <div class="white px-4 pb-4 pt-3-5"> -->
			</div>
	

		<div class="col-md-9">
			<div class="card">
				<img class="img-responsive" src="<%= accommodation.image %>">
				<div class="caption-full">
					<h4 class="float-right">
						MYR <%= accommodation.price %>/night
					</h4>
					<h4>
						<a><%= accommodation.name %></a>
					</h4>
					<p><%= accommodation.description %></p>
					<p>
						<em>Submitted by <%= accommodation.author.username %></em>
						<span class="float-right"><%= moment(accommodation.createdAt).fromNow() %></span>
					</p>
					<% if(currentUser && accommodation.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-sm btn-warning" href="/accommodations/<%= accommodation._id %>/edit">Edit</a>
						<form class="delete-form" action="/accommodations/<%= accommodation._id %>?_method=DELETE" method="POST">
							<button class="btn btn-sm btn-danger">Delete</button>
						</form>
					<% } %>
				</div>
				<% if (accommodation.rating === 0) { %>
				<h5 id="noReview"><em><small>No reviews yet.</small></em></h5>
                    <% } else { %>
					<div class="card-footer">
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (accommodation.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (accommodation.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (accommodation.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (accommodation.rating > 4.5) { %> checked <% } %>"></span>
                        <small class="text-muted"><em>(total reviews: <%= accommodation.reviews.length %>)</em></small>
                    </p>
                    <p>
                        <small class="text-muted">Current accommodation rating: <strong><%= accommodation.rating.toFixed(2) %></strong></small>
                    </p>
					</div>
			</div>
 
			
			<!-- REVIEW SECTION -->
            <div class="thumbnail">
                <div class="caption-full">
                    
                    <p><h4>Latest reviews for this accommodation:</h4></p>
                    <hr style="margin-top: 0;">
                    <% accommodation.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-sm btn-warning"
                               href="/accommodations/<%=accommodation._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/accommodations/<%=accommodation._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/accommodations/<%= accommodation._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a id="reviewBtn" class="btn btn-primary btn-lg <% if (currentUser && accommodation.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/accommodations/<%= accommodation._id %>/reviews/new">
                            Write a Review</a>
                    </div>
                </div>
			<div class="well">
      <!--Setting up the add new comment button that is used for collapsing-->
      <div class="text-right">
        <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Add Comment</a>
      </div>

      <!--Comment section title-->
      <h4><strong>Comments <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span></strong></h4>

      <!--Collapse Add a comment form START-->
      <div class="collapse" id="collapseComment">
        <div class="well">
            <% if(!currentUser) { %>
          <!--If the user is not logged in, direct him to the login page-->
          <h5>Log in required. <a href="/login">Click here</a> direct to the login page.</h5>
            <% } %>
            <% if(currentUser) { %>
          <!--If the user is logged in, show the new comment form-->
          <h4>Write your comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
          <form id="add-comment-form" action="/accommodations/<%= accommodation._id %>/comments" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-sm">Comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
            </div>
          </form>
            <% } %>
        </div>
      </div>
	<hr>	
		<!-- IF NO COMMENT -->
		<% if (accommodation.comments.length === 0) { %>
			  <em style="color: grey;">No comments yet.</em>
		<% } %>	

		<!--Display comments by looping through them-->
        <% accommodation.comments.forEach(function(comment) { %>
      <div class="row">
        <div class="col-md-12">
          <strong>
              <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
            <!--If the current user owns the comment, change the color of the user icon-->
            <span style="color: orange;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <% } else { %>
            <!--Else just display it black-->
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <% } %>
            <!--Print out the author username-->
              <%= comment.author.username %>
          </strong>
          <!--Show when the comment was made-->
          <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
          <!--Printing the comment-->
          <p><%= comment.text %></p>
          <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
          <!--Edit button used for collapsing the edit comment form-->
          <a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
            Edit</a>
          <!--Delete comment button-->
          <form id="delete-form" action="/accommodations/<%= accommodation._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
          <!--Edit comment form-->
          <div class="collapse" id="collapseEdit<%= comment._id %>">
            <div class="well">
              <h4>Edit your comment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
              <form id="edit-comment-form<%= comment._id %>" action="/accommodations/<%= accommodation._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-warning btn-sm">Edit comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                </div>
              </form>
            </div>
          </div>
            <% } %>
          <hr>
        </div>
      </div>
        <% }) %>
    </div>
</div>
		
	</div>
</div>

<script>
  function initMap() {
    var lat = <%= accommodation.lat %>;
    var lng = <%= accommodation.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById("map"), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= accommodation.name %><br />
      <%= accommodation.location %></strong>
      <p><%= accommodation.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener("click", function() {
      infowindow.open(map, marker);
    });
  }
</script>
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlruGDXINk2aodw36mYDk2IOaYrhCUmZU&callback=initMap"></script> -->

<%- include("../partials/footer"); -%>
